.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

.dice-body {
  background-color: #393E46;
}

.dicee-title {
  margin: 30px;
  font-family: 'Montez', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #f57665;
}

.dicee-winner {
  font-family: 'Roboto', cursive;
  font-size: 3rem;
  color: #f57665;
  margin: 30px;
}


p {
  font-size: 3rem;
  color: #f57665;
  font-family: 'Roboto', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Montez', cursive;

}

.roll-dice {
  text-align: center;
  margin: 2% auto;
}
